body{
    text-align: center;
}
.conatinerBtn{
    display: flex;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    border: 10px solid black;
    margin: 3rem;
    
}
.red{
    background-color: rgb(231, 71, 71)
}
.green{
    background-color: #6ad959;
}
.yellow{
    background-color: #f7f981;
}
.purple{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}
#score{
    display: none;
}